<div class="notification-layer">
                
       <p><strong>Risk Warning</strong> The value of investments can fall as well as rise and any income from them is not guaranteed and you may get back less than you invested. Past performance is not a guide to future performance.</p>
         
        <span class="close-button">
            <i class="icon-close"></i>
        </span>
    
</div>