/* ======================================================================
  Colors
======================================================================== */

// Colores primarios
$blue-shade: #1F3559;
$red: #c73a1e;

// Colores secundarios
$cream-1: #efe9e4;
$cream-2: #d6d1c4;
$orange: #d67a18;
$yellow-shade:#F5D76E;

// Colores especiales
$lime-green: #86ad1a;

// Tonos de gris
$black: #000000;
$dark-grey-1: #313233;
$dark-grey-2: #6e7073;
$grey: #87898C;
$light-grey: #BFC2C7;
$light-grey-2: #D6D6D6;
$light-grey-3: #e8e8e8;
$light-grey-4: #f2f2f2;
$light-grey-5: #f3f3f3;
$light-grey-6: #fafafa;
$white: #ffffff;


// ========= Refactoring color swatch ========== //
$primary-brand-color: $red;
$secondary-brand-color: $light-grey-3;
$terciary-brand-color: $white;

$primary-color-text: $dark-grey-1;
$secondary-color-text: $dark-grey-2;
$terciary-color-text:$light-grey;

$error-color: $red;
$warning-color: $yellow-shade;
$correct-color: $lime-green;


/* ======================================================================
  Settings
======================================================================== */

// Paths
$img-folder-path: '../images/';

// Fonts
$primary-font: 'SourceSansPro', sans-serif;

// Transition
$base-transition: all 0.2s ease-in-out;

// Border radius
$primary-border-radius: 5px;

// Grid breakpoints
$breakpoints: (
	xxs : 480px,
	xs  : 767px,
	sm  : 768px,
	md  : 992px,
	lg 	: 1200px
);

/// Mapa de Z-indexes, reuniendo todos las capas Z de la aplicacion
/// @access private
/// @type Map
/// @prop {String} key - Nombre de la capa
/// @prop {Number} value - Valor Z asignada a la clave
$z-indexes: (
  'user-menu-mobile'   : 101,
  'drop-menu'   	   : 100,
  'menu-ipad'   	   : 99,
  'manager-layer'	   : 98,
);

// Bootstrap horizontal cols margin
$bootstrap-gutter: 30px;

