%clearfix {
    *zoom: 1;

    &::before, &::after {
        content: ".";
        display: table;
        font-size: 0;
        line-height: 0;
        height: 0;
        visibility: hidden;
        vertical-align: baseline;
    }

    &::after {
        clear: both;
    }
}

.row {
    @extend %clearfix;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.display-table {
    display: table;
    width: 100%;

    .table-cell {
        display: table-cell;
    }
}

.relative {
    position: relative;
}


/* ======================================================================
   Custom grid column width (12 columns system as bootstrap)
========================================================================= */
@for $i from 1 through 12 {
    .width-col-#{$i} {
        position: relative;
        width: percentage($i / 12);

        @extend %clearfix;

        &.middle {
            vertical-align: middle;
        }
    }
}

.one-fifth{
    float:left;
    position:relative;
    width:20%;
    padding-left:15px;
    padding-right:15px;
    @extend %clearfix;
    margin-bottom:20px;

    @media screen and (max-width: map-get($breakpoints, xs)) {
        width:100%;
    }

}

/* ======================================================================
   Padding classes
 ======================================================================== */

.no-padding {
    padding: 0;
}

.less-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;

    > div[class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }

    &.left {
        padding-left: 0;
    }

    &.right {
        padding-left: 0;
    }
}

.small-padding {
    padding: 0 10px;
}

.small-padding-bottom {
    padding-bottom: 10px;
}

.small-padding-top {
    padding-top: 10px;
}

.x-small-padding-top {
    padding-top: 20px;
}

.xx-small-padding-top {
    padding-top: 30px;
}

/* ======================================================================
   Margin classes
 ======================================================================== */

.no-margin {
    margin: 0 !important;
}

.small-margin {
    margin: 0 10px;
}

.small-margin-bottom {
    margin-bottom: 10px;
}

.x-small-margin-bottom {
    margin-bottom: 20px;
}

.xx-small-margin-bottom {
    margin-bottom: 30px;
}

.small-margin-top {
    margin-top: 10px;
}

.x-small-margin-top {
    margin-top: 20px;
}

.xx-small-margin-top {
    margin-top: 30px;
}

.medium-margin-top {
    margin-top: 40px;
}

.medium-margin-bottom {
    margin-bottom: 40px;
}

/* ======================================================================
   Border classes
 ======================================================================== */

%border-top-white-transparent {
    border-top: 1px solid $terciary-brand-color;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

%border-white-transparent {
    border: 1px solid $terciary-brand-color;
    border: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/* ======================================================================
   Colors
 ======================================================================== */
.green-text {
    color: $lime-green !important;
}

.red-text {
    color: $red !important;
}

.grey-text {
    color: $grey !important;
}

.light-grey-text {
    color: $light-grey-2 !important;
}

/* ======================================================================
   Font size utils
 ======================================================================== */

 .smaller {
    font-size: 75%;
 }