/* ======================================================================
  Inputs
======================================================================== */

%input-style {
    border: 1px solid $light-grey-2;
    background: white;
    height: 43px;
    padding: 0 20px;
    border-radius: 5px;
    @include rem(font-size, 14px);
}

input, textarea, select, button {
    font-family: $primary-font;
    width: 100%;

    @include input-placeholder {
        color: $grey;
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        opacity: 0.5;
    }
}

input, select, textarea {
    @extend %input-style;
}


.hidden-field {
    position: absolute;
    visibility: hidden;
}

/* removes IE weird default icons inside the inputs */
::-ms-clear { display: none; }