---
published: true
meta-title: 'Page Title'
has-notification: true
page-title: {
	name: 'Page Title'
}
is-prices: true
---

<section class="">
	<div class="container">
		<div class="row">
            <div class="col-md-10 col-md-offset-1">
			{{!-- manager notifications --}}
			{{#if this.page.has-notification}}
			    {{> notification}}
			{{/if}}
			</div>
		</div>
	</div>
</section>