{{!-- Header --}}
<header class="header">
    <div class="container">
        <div class="row">
            
            {{!-- Hamburguesa menú --}}
            <div class="visible-xs menu-mobile-trigger sb-toggle-left col-xs-2">
                <i class="icon-menu"></i>
            </div>

            <div class="col-lg-2 col-sm-7 col-xs-8">
                <div class="logo">
                    <a href="/">
                        <span>Selftrade</span>
                        <img src="images/logo.png" alt="Selftrade Logo">
                    </a>
                </div>
            </div>
   
            <div class="col-lg-3 col-lg-offset-7 col-sm-5 col-xs-2">
                <div class="header-user-action register hidden-xs">
                    <i class="icon-usuario-anadir"></i>
                    <span>Register</span>
                </div>
                <div class="header-user-action login">
                    <i class="icon-bloquear"></i>
                    <span class="hidden-xs">Login</span>
                </div>
            </div>
        </div>
    </div>           
</header>

{{!-- navigation --}}
<div class="main-menu hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <nav class="navigation">
                    {{> navigation}}
                </nav>
            </div>
            <div class="col-sm-1 align-right">
                <i id="main-search-trigger" class="icon-search"></i>
            </div>
        </div>
    </div>      
</div>

{{!-- Buscador --}}
<div class="main-search hidden-xs">
    <div class="container">
        <form action="" method="post">
            <input type="search" class="input-main-search" autofocus placeholder="¿Qué estas buscando?" />
            <input type="submit" class="hide" value="Buscar" />
            <i class="icon-close" id="main-search-closer"></i>
        </form>
    </div>
</div>



