<div class="menu-mobile-layer sb-slidebar sb-width-wide sb-left">
	
	{{!-- Buscador --}}
	<div class="mobile-search">
		<form action="" method="post">
			<i class="icon-search"></i>
			<input type="search" value="" placeholder="Buscar..." class="search-text">
		</form>
	</div>

	<div class="mobile-navigation">
		{{> navigation}}
	</div>	
</div>