/* ======================================================================
  Fonts
======================================================================== */

body {
    @include rem(font-size, 16px);
    color: $primary-color-text;
    font-weight: 300;
}

/* ======================================================================
  Titulares
======================================================================== */
%tit {
    font-weight: 300;
}

.tit-page {
    @extend %tit;
    @include rem(font-size, 36px);
}

/* ======================================================================
  Parrafos
======================================================================== */
%txt-small{
    color:$grey;
    @include rem(font-size,14px);
}

.info-text{
    @extend %txt-small;
    text-align:center;
}

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
}

/* Icon info */
%versalita{
    vertical-align: super;
    cursor: pointer;
}

.icon-info{
    @include rem(font-size,12px);
    @extend %versalita;
}