$fonts-folder-path: '../fonts/';
$primary-font: 'Lato', sans-serif;

// Fontello
@font-face {
  font-family: 'fontello';
  src: url($fonts-folder-path + 'fontello/fontello.eot');
  src: url($fonts-folder-path + 'fontello/fontello.eot#iefix') format('embedded-opentype'),
       url($fonts-folder-path + 'fontello/fontello.woff') format('woff'),
       url($fonts-folder-path + 'fontello/fontello.ttf') format('truetype'),
       url($fonts-folder-path + 'fontello/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Lato Light
@font-face {
    font-family: 'Lato';
    src: url($fonts-folder-path + 'lato/lato-light.eot');
    src: url($fonts-folder-path + 'lato/lato-light.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'lato/lato-light.woff') format('woff'),
         url($fonts-folder-path + 'lato/lato-light.ttf') format('truetype'),
         url($fonts-folder-path + 'lato/lato-light.svg#lato-light') format('svg');
    font-weight: 300;
    font-style: normal;

}

// Lato Regular
@font-face {
    font-family: 'Lato';
    src: url($fonts-folder-path + 'lato/lato-regular.eot');
    src: url($fonts-folder-path + 'lato/lato-regular.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'lato/lato-regular.woff') format('woff'),
         url($fonts-folder-path + 'lato/lato-regular.ttf') format('truetype'),
         url($fonts-folder-path + 'lato/lato-regular.svg#lato-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Lato Semibold
@font-face {
    font-family: 'Lato';
    src: url($fonts-folder-path + 'lato/lato-semibold.eot');
    src: url($fonts-folder-path + 'lato/lato-semibold.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'lato/lato-semibold.woff') format('woff'),
         url($fonts-folder-path + 'lato/lato-semibold.ttf') format('truetype'),
         url($fonts-folder-path + 'lato/lato-semibold.svg#lato-semibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

// Gotham Bold
@font-face {
    font-family: 'Gotham';
    src: url($fonts-folder-path + 'gotham/gotham-bold.eot');
    src: url($fonts-folder-path + 'gotham/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'gotham/gotham-bold.woff') format('woff'),
         url($fonts-folder-path + 'gotham/gotham-bold.ttf') format('truetype'),
         url($fonts-folder-path + 'gotham/gotham-bold.svg#gotham-bold') format('svg');
    font-weight: 600;
    font-style: normal;

}

body {
    font-family: $primary-font;
}