<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ this.page.meta-title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{{ this.page.meta-title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="stylesheet" href="css/style.min.css">
    </head>
    <body>
        {{> menu-mobile}}

        <div id="sb-site" class="wrapper-page-content visibility-hidden">
            {{> header}}

            <div class="main-content">
                {{#if this.page.page-title}}
                    {{> page-title}}
                {{/if}}

                {{> breadcrumb}}

                {{> body}}
            </div>

        </div>

        {{!-- Vendor Javascript Libraries --}}
        <script src="js/vendor.min.js"></script>

        {{!-- Main Javascript --}}
        <script src="js/main.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                FrontMainController.init();
            });
        </script>
    </body>
</html>