/* ======================================================================  
Header                                                                 
====================================================================== */
$header-height: 50px;

.header {
    line-height: $header-height;
    
    .logo {
        
        max-width: 130px;
    
        @media screen and (max-width: map-get($breakpoints, xs)) {
            margin: 0 auto;
        }

        span {
            display: none;
        }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .header-user-action {
        height: $header-height;
        cursor: pointer;
        width: 50%;
        display: block;
        text-align: center;
        float: left;
        padding: 0 20px;


        &.login {
            background-color: $dark-grey-2;
            color: $white;

            @media screen and (max-width: map-get($breakpoints, xs)) {
                width: 100%;
                background-color: transparent;
                color: $primary-color-text;
                text-align: right;
                padding: 0;
            }

        }   

        &.register {
            border-left: 1px solid $light-grey-3;
        }

        i {
            @include rem(font-size, 18px);
            margin-right: 4px;

            @media screen and (max-width: map-get($breakpoints, xs)) {
                @include rem(font-size, 22px);
                margin-right: 0;
            }
        }

        span {
            @include rem(font-size, 14px);
            font-weight: 300;
        }
    }

}



