/* ======================================================================
  Menu mobile
======================================================================== */ 
.menu-mobile-layer {

	background: $dark-grey-1;
	@include box-shadow(inset -7px 0 10px 1px rgba(0,0,0,.3));

	.mobile-search {

		background-color:$black;
        padding:10px 15px;
        margin: 0 0 30px 0;

		form{
            position:relative;
        }


        .icon-search {
            @include rem(font-size, 18px);
            z-index: 10;
            position: absolute;
            left: 15px;
            top: 9px;
            color: $grey;
        }

        .search-text {
            background-color: $dark-grey-1;
            padding: 10px 10px 10px 45px;
            color: $terciary-brand-color;
            border: 0;
            border-radius: 0;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
	}

	.mobile-navigation {
		ul {
			
			margin: 0;
			padding: 0;

			a {
				color: $white;
				text-decoration: none;
				display: block;
				padding: 12px 15px;
				font-family: Gotham;
				font-weight: 600;
				text-transform: uppercase;
				@include rem(font-size, 14px);
			}
		}

		.submenu {
			display: none;
		}
	}
}