/* ======================================================================
 Page title
======================================================================== */
.page-title {
	padding: 30px 0;
	background-color: $primary-brand-color;
	color: $white;
	text-align: center;

	.tit-page {
		margin: 0;
	}
}